nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  ul {
    padding: 10px;
    margin-left: 10px;
    &:hover {
      background: rgba(255, 255, 255, .15);
      border-radius: 5px;
      // height: 40px;
    }

    li {
      list-style: none;
      font-weight: 700;
    }
  }
}