<div class="side-bar">
  <ul class="side-bar-items">
    <li class="side-bar-item">Introduction</li>
    <li class="side-bar-item">Getting started<span class="material-symbols-outlined">
      chevron_right
    </span></li>
    <li class="side-bar-item">Understanding Angular</li>
    <li class="side-bar-item">Developer guides</li>
    <li class="side-bar-item">Best practice</li>
    <li class="side-bar-item">Introduction</li>
    <li class="side-bar-item">Getting started</li>
    <li class="side-bar-item">Understanding Angular</li>
    <li class="side-bar-item">Developer guides</li>
    <li class="side-bar-item">Best practice</li>
    <li class="side-bar-item">Introduction</li>
    <!-- <li class="side-bar-item">Getting started</li>
    <li class="side-bar-item">Understanding Angular</li>
    <li class="side-bar-item">Developer guides</li>
    <li class="side-bar-item">Best practice</li>
    <li class="side-bar-item">Introduction</li>
    <li class="side-bar-item">Getting started</li>
    <li class="side-bar-item">Understanding Angular</li>
    <li class="side-bar-item">Developer guides</li>
    <li class="side-bar-item">Best practice</li> -->
  </ul>
</div>